.tippy-box[data-animation='header-custom-animation'] {
  transform: scale(0.8) !important;
}

.tippy-box[data-animation='header-custom-animation'].tippy-enter {
  transform: scale(1) !important;
}

.tippy-box[data-animation='header-custom-animation'].tippy-exit {
  transform: scale(0.8) !important;
}

@keyframes rainbow-text {
  0% { color: rgb(95, 106, 200); }
  16% { color: rgb(168, 109, 140); }
  32% { color: rgb(185, 117, 117); }
  48% { color: rgb(255, 166, 0)}
  64% { color: rgb(185, 117, 117); }
  80% { color: rgb(168, 109, 140); }
  100% { color: rgb(95, 106, 200); }
  /* 42% { color: green; }
  57% { color: blue; }
  71% { color: indigo; }
  85% { color: violet; }
  100% { color: red; } */
}

.pi-animation {
  animation: rainbow-text 3s linear infinite;
}