/* index.css */
html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  /* background-color: black; */
}

#root {
  display: flex;
  flex-direction: row; /* Align children horizontally */
  height: 100vh; /* Full viewport height */
}

svg text {
  font-family: "RobotoMono", Helvetica;
  font-size: 20px;
  cursor: default;
}

* {
  font-family: "RobotoMono", Helvetica;
}