.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 25%;
}

.main-content {
  flex: 1; 
}

/* Responsive adjustments for smaller screens */
@media screen and (max-width: 1000px) {
  /* so header can be displayed */
  .container {
    flex: 1;
    flex-direction: column;
    width: 100%;
  }
  .sidebar {
    display: none; 
    width: 100%;
  }

  .main-content {
    flex: 1;
  }
}
