.routes-container {
  display: flex;
  flex-direction: column; /* Stack header and content vertically */
  height: 100vh;
  width: 100%; 
  background-color: black; 
  padding-right: 40px;
}

/* Sidebar styling */
.sidebar {
  width: 20%; 
  height: 100%; 
}

/* Content area styling */
.routes-content {
  flex-grow: 1; 
  display: flex;
  flex-direction: column; 
}

/* Fixing overflow issues if sidebar or content has more height than 100vh
.sidebar, .routes-content {
  overflow-y: auto; /* Enables scrolling on overflow 
} */