#setInput {
  height: 50px;
  flex-grow: 1;
  border-radius: 25px;
  border: 1px solid white;
  background-color: black;
  padding-left: 15px;
  font-family: 'RobotoMono', sans-serif;
  font-size: 16px; 
  color: white;
}

#setInput::placeholder {
  color: rgba(255, 255, 255, 0.868); 
  font-family: 'RobotoMono', sans-serif; 
  font-size: 16px; 
  opacity: 1;
} 

.st-container {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  height: 100%;
  border-radius: 15px;
  background-color: rgb(25, 26, 30);
  flex-grow: 1;
  flex: 1;
  min-height: 600px;
  padding: 20px;
}

.st-box {
  flex-grow: 1;
  border-radius: 15px;
  /* border: 1px solid #eee; */
}

.inputContainer {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  gap: 10px;
  max-height: 50px;
  box-sizing: border-box;
}

.STBottomContainer {
  flex-direction: column;
}