.sidebar {
  flex: 1;
  flex-direction: 'row';
  align-items: 'center';
  height: '100%';
  border: '10px solid black';
}

.sidebarBox {
  width: '10%';
  border: 'solid #eee';
  border-radius: '5px';
}